<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tic-tac-toe-game</title>
        <link rel="stylesheet" href="/TIC-TAC-TOE-GAME/styles/style.css">
</head>

<body>
        <header>
                <h1>Tic tac toe</h1>
        </header>
        <main>
                <div class="msg-container">
                        <p id="message"></p>
                        <button id="new-btn">New Game</button>
                </div>
                <div class="game">
                        <div class="game-board">
                                <button class="box"></button>
                                <button class="box"></button>
                                <button class="box"></button>
                                <button class="box"></button>
                                <button class="box"></button>
                                <button class="box"></button>
                                <button class="box"></button>
                                <button class="box"></button>
                                <button class="box"></button>
                        </div>
                </div>
                <div class="controls">
                        <button id="reset-button">Reset</button>
                </div>
        </main>
        <script src="/TIC-TAC-TOE-GAME/scripts/script.js"></script>
        
</body>

</html>